@media(max-width:768px){
    .primer-texto p{
        font-size: 16px;
    }
    .h2-productosindex{
        font-size: 30px;
    }
    .h1-politicas{
        font-size: 38px;
    }
    .strong-politica{
        font-size: 28px;
    }
    .margen-politicas{
        font-size: 16px;
    }
    div.nuestras-redes{
        height: 40px;
    }
    footer{
        p{
            font-size: 20px;
        }
        h6{
            font-size: 16px;
        }
    }
    .navegador ul li a{
        font-size: 12px;
        padding: 10px 10px 10px 10px;
    }
    .logo-blanco{
        width: 150px;
    }
    .imagen-banner{
        height: 300px;
    }
    .prod-destacado{
        h4{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
        h3{
            font-size: 20px;
            padding-top: 5px;   
        }
        button{
            font-size: 15px;
            margin: 4px;
            position: sticky;
        }

    }
    .caja-productosdestacadosindex{
        height: 730px;
        flex-wrap: wrap;
    }
    .prod-destacado{
        height: 350px;
        width: 250px;
        img{
            object-fit: cover;
            height: 200px;
        }
    }
    .metodos-de-pago{
        height: 40px;
    }
    .nuestras-redes{
        height: 50px;
        img{
            height: 50px; 
        }
    }
    div .productos-productos{
        height: 340px;
    }
    .caja-productos div {
        h4{
            font-size: 26px;
        }
        h3{
            font-size: 22px;
            padding-top: 5px;
        }
        button{
            font-size: 18px;
            margin: 2px;
        }
    }
    .tabla-talles th,td{
        padding: 3px;
        font-size: 24px;
    }
    .caja-productos{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 10px;
    }
    .h2-talles{
        padding-top: 10px;
    }
    .h3-footer{
        font-size: 24px;
    }
}
@media(max-width:599px){
    .caja-productosdestacadosindex{
        height:730px;
        flex-wrap: wrap;
    }

}
