@media(max-width:1024px){
    .primer-texto{
        font-size: 20px;
    }
    .caja-productosdestacadosindex{
        height: 520px;
        h4{
            font-size: 20px;
        }
    }
    .prod-destacado{
        height: 500px;
        h3{
            font-size: 25px;
        }
        img{
            object-fit: cover;
            height: 300px;
        }
    }
    .caja-productos div{
        height: 380px;
        img{
            height: 68%;
        }
    }
  
    .h1-politicas{
        font-size: 36px;
    }
    main p{
       font-size: 15px; 
    }
    .imagen-banner{
        height: 400px;
    }
 
    .h2-footer{
        font-size: 28px;
    }
    .h2-productosindex{
        font-size: 36px;
    }
    main h2{
        font-size: 38px;
    }
    footer{
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 28px;
        }
        p{
            font-size: 22px;
        }
        h6{
            font-size: 16px;
        }
    }
    .nuestras-redes{
        height: 50px;
        img{
            height: 50px;
        }
    }
    div .prod-destacado{
        border-color: rgb(170, 170, 170);
    }
    .strong-politica{
        font-size: 28px;
    }
    .margen-politicas p {
        font-size: 20px;
    }
    .h1-productos{
        font-size: 66px;
    }
    div .productos-productos{
        height: 520px;
    } 
}
