@media(max-width:556px){
    .primer-texto p{
        font-size: 16px;
    }
    .logo-blanco{
        width: 120px;
    }
    .imagen-banner{
        height: 300px;
    }
    .preg-padre h1{
        font-size: 35px;
    }
    .caja-productosdestacadosindex{
        height:730px;
        flex-wrap: wrap;
    }
    .prod-destacado{
        height: 350px;
        width: 220px;
        text-align: center;
        img{
            height: 200px;
            object-fit: fill;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
        h3{
            font-size: 16px;
            padding-top: 5px;
        }
        button{
            font-size: 14px;
            margin: 2px;
            text-align: center;        
        }
    } 
    footer{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 20px;
        }
    }
    .metodos-de-pago{
        height: 30px;
    }
    div.nuestras-redes{
        height: 25px;
        justify-items: cover;
        img{
            height: 18px;   
        }
    }
    div{
        h3{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
        h6{
            font-size: 12px;
        }
    }
    .h1-politicas{
        font-size: 28px;
        padding-top: 4px;
    }
    main strong{
        font-size: 20px;
    }
    main p{
        font-size: 18px;
    }
    ul li{
        font-size: 10px;
    }
    .h1-productos{
        font-size: 38px;
    }
    div.productos-productos{
        height: 310px;   
    }
    
    .caja-productos div {
        h4{
            font-size: 22px;
        }
        h3{
            font-size: 16px;
            padding-top: 5px;
        }
        button{
            font-size: 14px;
            margin: 2px;
        }
    }
    .tabla-talles th,td{
        padding: 3px;
        font-size: 20px;
    }
    .tabla-talles th,td{
        font-size: 20px;
        border:solid 2px;
        padding: 5px;
    }
}