@media(max-width:480px){
    .primer-texto p{
        font-size: 10px;
    }
    .logo-blanco{
        width: 100px;
    } 
    .imagen-banner{
        height: 300px;
    }
    .h2-productosindex{
        font-size: 24px;
    }
    .preg-padre h1{
        font-size: 30px;
    }
    .caja-productosdestacadosindex{
        height: 1270px;
        flex-wrap: wrap;
    }  
    .h1-productos{
        font-size: 34px;
        padding-top: 5px;
    }
    div.productos-productos{
        h4{
            font-size: 20px;
        }
        h3{
            font-size: 16px;
        }
        button{
            font-size: 14px;

        }
    }
    .caja-productos{
        grid-template-columns: repeat(1,1fr);
    }
    div.prod-destacado{
        height: 300px;
    }
    .prod-destacado{
        border: solid 2px;
        border-radius: 2px;
        margin: 4px,8px,4px,8px;
        text-align: center;
        img{
            height: 150px;
        }
        h4{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
        h3{
            font-size: 16px;
            padding-top: 5px;
        }
        button{
            font-size: 14px;
            margin: 4px;  
        }
    }
    .img1-index:hover{
        transform: translate(-5px,5px);
        button{
            transform: scale(1.1);            
        }
    }
    .img2-index:hover{
        transform: translate(5px,5px);
        button{
            transform: scale(1.1);            
        }
    }
    footer{
        h2{
            font-size: 18px;
        }
        h3{
            font-size: 18px;
        }
    }
    .h2-tamanio-metodos{
        margin-top: 10px;
        font-size: 16px;
    }
    .metodos-de-pago{
        height: 25px;
    }
    div.nuestras-redes{
        height: 25px;
        justify-items: cover;
        img{
            height: 18px;
        }
    }
    div{
        h3{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
        h6{
            font-size: 8px;
        }
    }
    div.caja-productos{
        padding-bottom: 10px;
    }
    .h1-politicas{
        font-size: 25px;
        padding-top: 4px;
    }
    main{
        strong{
            font-size: 16px;
        }
        p{
            font-size: 16px;
        }
    }
    .h1-talles{
        font-size: 42px;
    }
    .h2-talles{
        font-size: 34px;
    }
    .tabla-talles th,td{
        font-size: 12px;
        border:solid 2px;
        padding: 5px;
    }
    table{
        border:solid 2px;
    }
    .productos-productos{
        border: solid 3px;
        border-radius: 5px;
        border-color: rgb(170, 170, 170);
    }
    div.productos-productos{
        height: 300px;
    }
    .preguntas-frecuentes-img a img{
        height: 30px;
    }
}
